In [1]:
import pandas as pd
import numpy as np

In [2]:
xgb_submission_path = r'C:\Users\Ben\Desktop\Data Science\Kaggle\Advanced-House-Price-Prediction-Kaggle-Competition\Submissions\xgb_submission.csv'
lasso_submission_path = r'C:\Users\Ben\Desktop\Data Science\Kaggle\Advanced-House-Price-Prediction-Kaggle-Competition\Submissions\lasso_submission.csv'
ridge_submission_path = r'C:\Users\Ben\Desktop\Data Science\Kaggle\Advanced-House-Price-Prediction-Kaggle-Competition\Submissions\ridge_submission.csv'
enet_submission_path = r'C:\Users\Ben\Desktop\Data Science\Kaggle\Advanced-House-Price-Prediction-Kaggle-Competition\Submissions\elasticNet_submission.csv'

In [3]:
xgb = pd.read_csv(xgb_submission_path)
lasso = pd.read_csv(lasso_submission_path)
ridge = pd.read_csv(ridge_submission_path)
e = pd.read_csv(enet_submission_path)

In [4]:
xgb.head()

     Id  SalePrice
0  1461  127731.11
1  1462  157358.84
2  1463  185077.31
3  1464  191816.92
4  1465  186313.78

In [5]:
lasso.head()

     Id      SalePrice
0  1461  113490.557839
1  1462  158349.400265
2  1463  173029.412406
3  1464  193650.626166
4  1465  194841.544240

In [6]:
ridge.head()

     Id      SalePrice
0  1461  113240.391433
1  1462  158586.131901
2  1463  172341.648197
3  1464  193589.179306
4  1465  194497.415663

In [7]:
e.head()

     Id      SalePrice
0  1461  113490.557839
1  1462  158349.400265
2  1463  173029.412406
3  1464  193650.626166
4  1465  194841.544240

In [8]:
Id = np.arange(start=1461, stop=2920, step=1)
blended_submission = pd.DataFrame(data = Id, columns = ['Id'])

In [9]:
blended_submission.head()

     Id
0  1461
1  1462
2  1463
3  1464
4  1465

In [10]:
blended_submission['SalePrice'] = 0.85*xgb['SalePrice'] + 0.05*ridge['SalePrice'] + 0.05*lasso['SalePrice']  + 0.05*e['SalePrice']

In [11]:
blended_submission.head()

     Id      SalePrice
0  1461  125582.518856
1  1462  157519.260622
2  1463  183235.737150
3  1464  192088.903582
4  1465  187575.738207

In [12]:
blended_submission.to_csv(r'C:\Users\Ben\Desktop\Data Science\Kaggle\Advanced-House-Price-Prediction-Kaggle-Competition\Submissions\blended_submission.csv', index = False)