In [1]:
import pandas as pd
import numpy as np

In [2]:
xgb_submission_path = r'C:\Users\Ben\Desktop\Data Science\Kaggle\Advanced House Price Prediction\Submissions\xgb_submission.csv'
lasso_submission_path = r'C:\Users\Ben\Desktop\Data Science\Kaggle\Advanced House Price Prediction\Submissions\lasso_submission.csv'
ridge_submission_path = r'C:\Users\Ben\Desktop\Data Science\Kaggle\Advanced House Price Prediction\Submissions\ridge_submission.csv'

In [3]:
xgb = pd.read_csv(xgb_submission_path)
lasso = pd.read_csv(lasso_submission_path)
ridge = pd.read_csv(ridge_submission_path)

In [4]:
xgb.head()

     Id  SalePrice
0  1461  130502.43
1  1462  157531.83
2  1463  190203.70
3  1464  193308.47
4  1465  177359.97

In [5]:
lasso.head()

     Id      SalePrice
0  1461  113411.379166
1  1462  164292.860124
2  1463  164538.770477
3  1464  181228.078273
4  1465  218868.452065

In [6]:
ridge.head()

     Id      SalePrice
0  1461  110356.255407
1  1462  151407.637784
2  1463  169062.728810
3  1464  193576.845757
4  1465  200473.488500

In [7]:
Id = np.arange(start=1461, stop=2920, step=1)
blended_submission = pd.DataFrame(data = Id, columns = ['Id'])

In [8]:
blended_submission.head()

     Id
0  1461
1  1462
2  1463
3  1464
4  1465

In [9]:
blended_submission['SalePrice'] = 0.9*xgb['SalePrice'] + 0.05*lasso['SalePrice'] + 0.05*ridge['SalePrice']

In [10]:
blended_submission.head()

     Id      SalePrice
0  1461  128640.568729
1  1462  157563.671895
2  1463  187863.404964
3  1464  192717.869201
4  1465  180591.070028

In [11]:
blended_submission.to_csv(r'C:\Users\Ben\Desktop\Data Science\Kaggle\Advanced House Price Prediction\Submissions\blended_submission.csv', index = False)